.sidenav{
  background-color: #3f5351;
  width: 200px;
}

.sidenav a{
  color: aliceblue;
}

.sidenav i{
  padding-right: 10px;
}

.content{
  padding: 16px;
  background-color: white;
  color: black;
}