/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.red {
  color: pink;
}

.v-midle{
  vertical-align: middle;
}

form{
  padding-top: 20px;
}

.msg-success{
  background-color: darkgreen;
  color: white;
}

.msg-error{
  background-color: red;
  color: white;
}